@model PetShopProject.Models.Animal;
@{
    ViewData["Title"] = "AddAnimal";
}

<h1>Add New Animal</h1>
                <div>
                <label>ADD NEW CATEGORY</label>
                <form method="get">
                        <button class="btn btn-primary" asp-controller="Pet" asp-action="AddCategory">Add Category</button>
                </form> 
                </div>
<form method="post">
            <div class="form-group">
                <label asp-for="Name">Enter Name:</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input type="number" asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureSource"></label>
                <input type="url" asp-for="PictureSource" class="form-control"/>
                <span asp-validation-for="PictureSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId">
                    @foreach(var c in ViewBag.Categories)
                    {
                        <option value="@c.CategoryId">@c.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            
            <button type="submit" class="btn btn-primary">Add New Animal</button>
        </form>
       

