@model PetShopProject.Models.Category
@{
    ViewData["Title"] = "AddCategory";
}

<h1>AddCategory</h1>
<div>
    <form method="post">
        <input type="text" asp-for="Name"/>
        <button type="submit">Add Category</button>
    </form>
</div>

